.page-not-found
    background: #80d9f7
    min-height: 100vh
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center

    &__title
        font-size: 28px
        margin 0 0 20px
