.page
    padding: 20px

.content
    display: flex
    position: relative
    max-width: 700px
    min-height: 600px
    margin: 0 auto
    background: #4a8840 url('assets/images/river.png') no-repeat

.finish
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    font-size: 7rem
    text-align: center
    background: rgba(255, 255, 255, 0.6)
    display: flex
    align-items: center
    justify-content: center
