@keyframes decrease
    0%
        width: 32px
        height: 32px
    100%
        width: 24px
        height: 24px

// @stylint off
$characters =   'cabbage',
                'farmer',
                'sheep',
                'wolf',
                'dog',
                'caveman',
                'priest',
                'woman_black',
                'woman_white',
                'woman_red',
                'woman_blue',
                'men_black',
                'men_white',
                'men_red',
                'men_blue',
                'boy_red',
                'boy_yellow',
                'girl_red',
                'girl_yellow',
                'policeman',
                'criminal',
                'monkey',
                'gorilla'
// @stylint on

.character
    position: relative
    background-size: contain
    width: 32px
    height: 32px
    margin: 5px 0
    cursor: pointer

    &_skin
        for $item in $characters
            &_{$item}
                background-image: url(/src/assets/images/$item.svg)

        // http://www.flaticon.com/free-icon/cabbage_135237#term=cabbage&page=1&position=10
        // http://www.flaticon.com/free-icon/farmer_10613#term=farmer&page=1&position=8
        // http://www.flaticon.com/free-icon/sheep_220082#term=sheep&page=1&position=8
        // http://www.flaticon.com/free-icon/wolf_165191#term=wolf&page=1&position=17
        // http://www.flaticon.com/free-icon/caveman_78967#term=Caveman&page=1&position=1
        // http://www.flaticon.com/free-icon/priest_90522#term=Priest&page=1&position=17
        // http://www.flaticon.com/free-icon/modeling-woman_83146#term=woman%20model&page=1&position=1
        // http://www.flaticon.com/free-icon/modeling-woman_83146#term=woman%20model&page=1&position=1
        // http://www.flaticon.com/free-icon/modeling-woman_83146#term=woman%20model&page=1&position=1
        // http://www.flaticon.com/free-icon/flamenco-male-model_40045#term=men%20model&page=1&position=1
        // http://www.flaticon.com/free-icon/monkey_194978
        // http://www.flaticon.com/free-icon/gorilla-facing-right_84171

    &_packed
        width: 24px
        height: 24px
        margin: 0 auto
        animation: decrease 0.5s
